<!DOCTYPE html>
<html lang="en">


        <!-- INCLUDES HEAD-->
   <%- include('../partials/head') %>

   <body> 
 
   <header>
   
    <div class="headingLogo">
        <a href="/"><img src="/img/curso.png" alt="" class="logo"><a>
    </div>
 
    <nav class="nav-bar">
        <ul class="menuPrincipal">
            <li><a href="/products">PRODUCTOS</a></li>             
            <li> <a href="/user"><i class="fa-sharp fa-solid fa-user fa-2x"></i></a></li>
            <li><a href="/carrito"><i class="fa-sharp fa-solid fa-cart-shopping fa-2x"></i></a> </li>
        </ul>
    </nav>
    


</header>
   
</body>
</html>