@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap'); 

:root {
    --dark-olive-green : #fa0b2b;
    --black : #1a085c;
    --artichoke : #0e0d0d;
    --tan: #a76a09;
    --cafe-noir :#bff00e;
    --white : #f7d7d7;
   } 



.main-products{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  align-items: center;
  display: block;
  background-color: #a6ad7e;
}

.main-products .products{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;

}
.main-products .products a{
    text-decoration: none;
    color: #0a0000;
    margin-top: 30px;
    width: 90%;
}
.main-products .products article{
    width: 90%;
    padding: 20px;
    background-color: #d1c6c6;
    box-shadow: 5px 5px 2px rgb(31, 26, 26);
}
.main-products .products article img{
    width: 100%;
    margin: auto;
}

@media (max-width: 1023px){
    .main-products .products{
        width: 90%; 
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
  
  }
  
  @media (max-width: 767px){
    .main-products .products{
        width: 90%; 
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    
    }
    
  }
  