@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap'); 

:root {
  --dark-olive-green : #fa0b2b;
  --black : #1a085c;
  --artichoke : #0e0d0d;
  --tan: #a76a09;
  --cafe-noir :#bff00e;
  --white : #f7d7d7;
 } 

.register{
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.register .registerBanner{
  width: 100%;
}
.register .registerBanner .mobile{
  display: none;
}

.containerRegistro{
  width: 100%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: auto;
}

.containerRegistro .subtitulo h2{
  text-align: left;
  align-items: center;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: bold;
  padding: 40px;
  margin-left: 50px;
}

.containerRegistro .subtitulo{
  color: #99dd4b;
  border-bottom: #13160f 5.5px solid;
}

.contenedor {
  margin: auto;
  width: 70%;
}

.contenedor form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  justify-content: flex-start;
}

.containerRegistro form .emailDiv{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px 20px;
  width: 100%;
}

.containerRegistro form .emailDiv label{
  color: #a4c480;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding: 10px;
}

.containerRegistro form .emailDiv input{
  color: #a2d36b;
  border: #c2b6a5 1px solid;
  text-align: center;
  padding: 10px;  
  box-shadow: 2px 2px 1px rgb(90, 87, 87);
}

.containerRegistro form .grupos{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.containerRegistro form .grupos div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 45%;
}
.containerRegistro form .grupos div label{
  color: #829e61;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding: 10px;
}
.containerRegistro form .grupos div input{
  color: #98eb39;
  border: #ac9d87 1px solid;
  text-align: center;
  padding: 10px; 
  box-shadow: 2px 2px 1px grey; 
}
.containerRegistro .checkbox{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.containerRegistro .botonRegistro {

  color:rgb(201, 197, 197);
  justify-content: center;
  margin-bottom: 5px;
  background-color: #97fa25;    
  border: none;
  width: 50%;
  padding: 25px;
  font-size: 22px;
  font-weight: bold;
  background-color: var(--artichoke);
  color: var(--white);
  border: none;
  cursor: pointer;
  transition:450ms;
  box-shadow: 2px 2px 1px rgb(46, 43, 43);
}

.containerRegistro .botonRegistro:active{
  background-color: var(--dark-olive-green);
  box-shadow: 3px 3px 2px rgb(14, 13, 13);
  transform: translateY(2px);
}

@media (max-width: 1023px){
  .containerRegistro form .grupos{
    flex-direction: column;
  }
  .containerRegistro form .grupos div{
    width: 100%;
  }


}
@media (max-width: 767px){
  .register{
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .register .resigterBanner{
    width: 100%;
  }
  .register .resigterBanner .mobile{
    display: block;
  }
  .register .resigterBanner .desktop{
    display: none;
  }
  
 
}